<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Произошла непредвиденная ошибка.</h1>
<p>Отчет об ошибке отправлен разработчику. Приносим извинения за доставленные неудобства.</p>
<p><a href="{{url_for('index')}}">На главную</a></p>
{% endblock %}
