<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Админка</h1>

<form action="" method="post" name="set_answer">
    {{ answer_form.hidden_tag() }}
    <p>
        Установить ответ на задание:<br>
        {{ answer_form.task_id(size=20, placeholder="Номер задания") }}
        {{ answer_form.answer(size=20, placeholder="Ответ") }}
        <input type="submit" value="Установить">
    </p>
</form>

<form action="" method="post" name="forced_login">
    {{ string_form.hidden_tag() }}
    <p>
        Авторизация без пароля:<br>
        {{ string_form.string_entry(size=20, placeholder="Логин") }}
        <input type="submit" value="Войти">
    </p>
</form>

{% endblock %}
