<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="/static/favicon.ico" />
        {% if title %}
        <title>{{title}}</title>
        {% else %}
        <title>EGE-GAME.RU</title>
        {% endif %}

         <!-- == CSS ==  -->
        <!-- Bootstrap core -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <!-- Bootstrap theme -->
        <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
        <!-- My styles -->
        <link type='text/css' rel='stylesheet' href='/static/css/style.css'/>

        <!-- === JavaScript ===  -->
        <script type="text/javascript" src="/static/js/jquery-1.11.1.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        <!-- Momentjs -->
        <script src="/static/js/moment.min.js"></script>
        <script src="/static/js/moment-ru.js"></script>
        <!-- My scripts -->
        <script type="text/javascript" src="/static/js/script.js"></script>

        <!-- Stretching -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
    <div class="container">

    <ul class="nav nav-tabs">
        <li><a href="/">Главная</a></li>
        {% if g.user.is_authenticated() %}
        <li><a href="{{ url_for('user', nickname = g.user.nickname) }}">Профиль</a></li>
        {% endif %}

        {% include "top_menu.html" %}

    {% if g.user.is_authenticated() %}
        <a href="{{ url_for('user', nickname = g.user.nickname) }}">
            {{ g.user.nickname }}
        </a>
        | <a href="{{ url_for('settings') }}">Настройки</a>
        | <a href="{{ url_for('logout') }}">Выйти</a>
    {% else %}
        <a href="{{ url_for('login') }}">Войти</a>
        | <a href="{{ url_for('register') }}">Регистрация</a>
    {% endif %}
    |
    <a href="{{url_for('users')}}">Пользователи</a>
    |
    <a href="{{url_for('online')}}">Онлайн</a>
    {% if g.user.is_authenticated() and g.user.is_admin() %}
    |
    <a href="{{url_for('admin')}}">Админка</a>
    {% endif %}


    </ul>
    <br>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    <div class="row">
        <div class="span12">
        {% block content %}{% endblock %}
        </div>
    </div>

    <hr>
    <!-- {% include "footer.html" %} -->

    </div>
    </body>
</html>
