<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="container">
<h1>Авторизация</h1>
<form action="" method="post" name="login" class="form-signin">
    {{ form.hidden_tag() }}
    <p>
        {{ form.login(size=20, placeholder="Логин", class="form-control") }}
        {{ form.password(size=20, placeholder="Пароль", class="form-control") }}
        <input type="submit" value="Войти" class="btn btn-primary"></p>
    </p>
</form>
</div>
{% endblock %}
