<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Регистрация</h1>
<form action="" method="post" name="register">
    {{ form.hidden_tag() }}
    <p>
        Создать пользователя:<br>
        {{ form.login(size=20, placeholder="Логин") }}
        {{ form.password(size=20, placeholder="Пароль") }}
        <input type="submit" value="Создать">
    </p>
</form>

{% endblock %}
