{% extends "base.html" %}

{% block content %}
<form action="" method="post" name="set_answer">
    {{ form.hidden_tag() }}
    Количество заданий на странице (0 - все):
    {{ form.tasks_per_page(step=1, value=g.user.tasks_per_page, min=0) }}
    <hr>
    <input type="submit" value="Применить">
</form>
{% endblock %}
