<div class="panel panel-default">
  <div class="panel-heading">
    <span class="label label-primary">{{task.type}}</span>
    | <a href="http://mathege.ru/or/ege/ShowProblems.html?level=2&protoId={{task.id}}" target="_blank" title="Аналогичные задания">Подобные</a>
    | <input type='text' size='10' placeholder='Ответ:' onblur='check_answer(this, {{task.id}})'>
  </div>
  <div class="panel-body">
    {{task.text|safe}}
  </div>
  <!-- <div class="panel-footer"><input type='text' size='10' placeholder='Ответ:' onblur='check_answer(this, {{task.id}})'></div> -->
</div>
