{% extends "base.html" %}

{% block content %}
    {% for task in tasks.items %}
        {% include "task.html" %}
    {% endfor %}

    {% if tasks.has_prev %}<a href="{{ url_for('.all_type', type=type,page=tasks.prev_num) }}"><<<</a>{% else %}<<<{% endif %} |
    {% if tasks.has_next %}<a href="{{ url_for('.all_type', type=type, page=tasks.next_num) }}">>>></a>{% else %}>>>{% endif %}

{% endblock %}
