<div class="btn-group">
    <a href="/test" title="Случайный тест" class="btn btn-default">Тест</a>
    {% for i in range(1, 12+1) %}
    <a href="{{url_for('random_type_amount', type=i, amount=g.user.tasks_per_page if g.user.is_authenticated() else 0)}}" class="btn btn-default">{{i}}</a>
    {% endfor %}
</div>
