{% extends "base.html" %}

{% block content %}
<ul class="list-group">
{% for u in users %}
  <li class="list-group-item"><a href="{{url_for('user', nickname=u.nickname)}}">{{u.nickname}} [{{u.prototypes.filter_by(solved=True).count()}}]</a></li>
{% endfor %}
</ul>
{% endblock %}
