{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{user.avatar(100)}}" class="img-polaroid"></td>
            <td>
                <h1>{{user.nickname}}</h1>
                <!-- <p>Уровень: {{user.level}}</p> -->
                    <p><i>
                    {% if user.is_online() %}
                        Онлайн
                    {% elif user.last_seen %}
                        Последний визит: {{momentjs(user.last_seen).calendar()}}
                    {% endif %}
                    </i></p>
            </td>
        </tr>
    </table>

<!--     <h1>{{user.nickname}}</h1>

    <p><i>
    {% if user.is_online() %}
        Онлайн
    {% elif user.last_seen %}
        Последний визит: {{momentjs(user.last_seen).calendar()}}
    {% endif %}
    </i></p> -->


<!-- <div class="media">
  <img class="media-object pull-left" src="{{user.avatar(64)}}">
  <div class="media-body">
    <h4 class="media-heading">{{user.nickname}}</h4>
    <i>
    {% if user.is_online() %}
        Онлайн
    {% elif user.last_seen %}
        Последний визит: {{momentjs(user.last_seen).calendar()}}
    {% endif %}
    </i>
  </div>
</div> -->


    <p>
    {% if user.id == g.user.id %}
        <!-- <a href="#">Редактировать</a> -->
    {% elif g.user.is_friend(user) %}
        <a href="{{url_for('remove_friend', nickname=user.nickname)}}">Удалить из друзей</a>
    {% else %}
        <a href="{{url_for('add_friend', nickname=user.nickname)}}">Добавить в друзья</a>
    {% endif %}
    </p>

    <p>
    {% if g.user.is_admin() and user.id != g.user.id %}
        <a href="{{url_for('forced_login', nickname=user.nickname)}}" class="btn btn-info">Войти под пользвателем</a>
    {% endif %}
    </p>

    <h2>Достижения:</h2>
    <p>
        <span class="glyphicon glyphicon-star-empty"></span>
        <strong>Всего: решено {{solved[0]}} из {{total[0]}} прототипов, осталось решить {{total[0]-solved[0]}}.</strong>
        <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped {% if solved[0]!=total[0] %}active{% endif %}" role="progressbar" aria-valuenow="{{solved[0]}}" aria-valuemin="0" aria-valuemax="{{total[0]}}" style="width: {{solved[0]/total[0]*100}}%"><span class="sr-only">{{solved[0]/total[0]*100}}% Complete</span></div>
        </div>

    </p>
    {% for i in range(1, 12+1) %}

    <p>
        <span class="glyphicon glyphicon-star-empty"></span>
        {% if g.user.id == user.id %}
        #{{i}}: <a href="{{url_for('solved_amount', type=i, amount=user.tasks_per_page)}}">решено {{solved[i]}}</a> из <a href="{{url_for('random_type_amount', type=i, amount=user.tasks_per_page)}}">{{total[i]}}</a> прототипов; <a href="{{url_for('unsolved_amount', type=i, amount=user.tasks_per_page)}}">осталось решить {{total[i]-solved[i]}}</a>, из которых <a href="{{url_for('attempted_amount', type=i, amount=user.tasks_per_page)}}">пробовал решить {{attempted[i]}}</a>.
        {% else %}
        #{{i}}: решено {{solved[i]}} из {{total[i]}} прототипов; осталось решить {{total[i]-solved[i]}}, из которых пробовал решить {{attempted[i]}}.
        {% endif %}
        <div class="progress">
            <div class="progress-bar progress-bar-striped {% if solved[i]!=total[i] %}active{% endif %}" role="progressbar" aria-valuenow="{{solved[i]}}" aria-valuemin="0" aria-valuemax="{{total[i]}}" style="width: {{solved[i]/total[i]*100}}%"><span class="sr-only">{{solved[i]/total[i]*100}}%</span></div>
        </div>
    </p>

    {% endfor %}

    {% if user.friends.count() > 0 %}
    <h2>Друзья:</h2>
    {% for f in user.friends.all() %}
    <p>
        <a href="{{url_for('user', nickname=f.nickname)}}">{{f.nickname}} [{{f.prototypes.filter_by(solved=True).count()}}] {{'(Онлайн)' if f.is_online()}}</a>
    </p>
    {% endfor %}
    {% endif %}
{% endblock %}
